.form-signin, .form-menu {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin, .form-menu{
	color: #7a7a7a;
	border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;}
  

}
